<div class="row align-items-center">
  <h4>Vitrine</h4>
</div>

<div class="row">
  @for (obj of listaFiltrada; track obj.id) {
    <div class="col-4">
      <div class="border p-3 mb-3 text-center">

        <a [routerLink]="['/produto', obj.id]" (click)="selecionarProduto(obj)">
          <img [src]="obj.imagem" class="img-produto mb-2">
        </a>

        <h4 class="fw-bold">{{ obj.nome }}</h4>
        <h5>R$ {{ obj.valor }}</h5>

        @if (obj.quantidade > 0) {
          <div class="d-flex justify-content-center align-items-center gap-3 mt-2">
            <input 
              type="number" 
              [(ngModel)]="obj.quantidade" 
              min="1" 
              [max]="obj.estoque"
              class="form-control"
              style="width: 70px;">
            <button class="btn btn-danger" (click)="adicionarCarrinho(obj)">
              Adicionar na cesta
            </button>
          </div>
        } @else {
          <span class="text-danger">Produto em falta</span>
        }

      </div>
    </div>
  }
</div>
